<h2><%= link_to @u.username, '/'+@u.username  %> </h2>

<% @tags.each do |tag| %>
  <% if tag.public || @u.username == session['user'] %>
    <li><%= link_to tag.name, '/'+@u.username+'/'+ tag.name %>  </li>
  <% end %>
<% end %>
