<%= link_to @u.username, '/'+@u.username, class: 'breadcrumb'  %>

<% @tags.each do |tag| %>
  <% if tag.public && @u.username != session['user'] %>
    <li><%= link_to tag.name, '/'+@u.username+'/'+ tag.name %></small></li>
  <% elsif tag.public %>
    <li><%= link_to tag.name, '/'+@u.username+'/'+ tag.name %> <small>(public)</small></li>
  <% elsif @u.username == session['user']  %>
    <li><%= link_to tag.name, '/'+@u.username+'/'+ tag.name %>  </li>
  <% end %>
<% end %>
